/* sbros */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.links {
  text-decoration: none;
  position: relative;
}
.list {
  list-style: none;
}

.block-sizing {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
/* body */
.body-items {
  /* width: 1600px;
  margin-left: auto;
  margin-right: auto; */
}
/* header */
.header {
  background: #ffffff;
  height: 80px;
  block-size: border;
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  color: #ececec;
}

.header__logo {
  margin-left: 215px;
}

.header__logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header__logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}

.header__navigation {
  margin-left: 93px;
}

.header__nav__menu {
  display: flex;  
}

.menu_items:not(:last-child) {
  margin-right: 50px;
}

.header__navigation > ul > li > a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.after::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  opacity: 0;
  margin-bottom: -1px;
  bottom: -30px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__navigation > ul > li > a:hover,
.header__navigation > ul > li > a:focus {
  color: #2196f3;
}

.after:hover::after,
.after:focus::after {
  opacity: 1;
}

.active::after {
  opacity: 1;
}

.active {
  color: #2196f3;
}

/* ------------------ Contacts --------------- */
.header__contacts {
  display: flex;
  
  margin-left: 318px;
}

.header__contacts_items {
  display: flex;
  align-items: center;
}
.header__contacts_items:not(:last-child) {
  margin-right: 50px;
}

.header__icon-svg {
  margin-right: 10px;
  fill: #757575;
  /* padding-right: 10px; */
}

.header__contacts > li > a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  
}
.header__contacts a:hover,
.header__contacts a:focus,
.header__contacts a:hover .header__icon-svg,
.header__contacts a:focus .header__icon-svg {
  color: #2196f3;
  fill: #2196f3;
}
/* ------------------ Contacts End --------------- */
/* Section 1 */
.section-order {
  background-color: #2f303a;
  background-image: 
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url('../images/bg.jpg');
  
  height: 600px;
  padding-top: 200px;
}

.secion-order__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secion-order__item__h1 {
  width: 696px;
  /* margin-top: 200px; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
.section_order_btn {
  /* margin-top: 10px; */
  width: 216px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section_order_btn:hover {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* section 2 */

.section2 > h2 {
  visibility: hidden;
}
.section2__list {
  margin-top: 94px;
  display: flex;
  justify-content: center;
  
}
.section2__list__items {
  width: 270px;    
}
.section2__list__items > h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  padding-top: 30px;
}
.section2__list__items > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.section2__list__items:not(:last-child) {
  margin-right: 30px;
}
.section2-card {
  display: flex;
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

/* section 3 */
.section3-h2 {
    margin-top: 94px;
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.section3-list {
    display: flex;
    justify-content: center;
    margin-bottom: 94px;
}

.section3-list__items {
  position: relative;
}

.section3-list__items__drop {
  position: relative;
  top: -70px;
  background: rgba(47, 48, 58, 0.8);
}

.section3-h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 27px;
  padding-bottom: 27px;
}

.section3-list__items:not(:last-child) {
    margin-right: 30px;
}

/* section 4 */
.section4 {  
  background: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section4__h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;    
  margin-bottom: 50px;
}

.section4__list {
  display: flex;
  justify-content: center;
}

.section4__list__items {
  width: 270px;
  background: #FFFFFF;    
}

.section4__items__border {
  display: block;
  padding: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section4__list__items:not(:last-child) {
  margin-right: 30px;
}

.section4__list__items>div>h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;    
}

.section4__list__items>div>p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.section4-social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  justify-content: space-around;
   
}

.section4-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section4-social__ico {
  fill: #AFB1B8; 
}

.section4-social__link:hover,
.section4-social__link:focus,
.section4-social__link:hover svg,
.section4-social__link:focus svg {
  fill: #FFFFFF;
  background-color: #2196f3;
}
/* -------------------Section 4 End--------------------------- */
/* -------------------Section 5 Start--------------------------- */
.section5-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section5-clients__h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.section5-clients__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.sections5-clients__list__items {
  box-sizing: border-box;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-svg {
  fill: #AFB1B8;;
}

.sections5-clients__list__items:hover,
.clients-svg:hover {
  border-color: #2196f3;
  fill: #2196f3;
}
/* -------------------Section 5 End--------------------------- */
/* Footer  */
.footer {
    height: 252px;
    background: #2F303A;
    display: flex;
}
.footer-container {
    margin-top: 60px;
    margin-left: 215px;
    margin-bottom: 60px;
}
.footer__logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196f3;
}
.footer__logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #ffffff;
}
.footer__address {
    margin-top: 20px;
}

.footer__addres__list__items {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.footer__addres__list__items:not(:first-child){
    margin-top: 9px;
}
.footer__contact {
    color: rgba(255, 255, 255, 0.6);
}
.footer__addres-text {
    color: #FFFFFF;
}

.footer-social {
  margin-left: 70px;
  margin-top: 72px;
}
.footet-social__h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-social__list {
  display: flex;
  gap: 10px;
  
  margin-top: 20px;
}

.footer-social__ico {
  fill: #FFFFFF;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
}

.footer-social__link:hover {
  background:#2196f3;
}

/* Portfolio  */

.portfolio-btns {
  display: flex;
  margin-top: 94px;
  margin-left: 512px;
  margin-bottom: 50px;
}
.portfolio-btns__items:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btns__setup {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  height: 38px;
  background: #F5F4FA;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
}
.portfolio-btns__setup:hover,
.portfolio-btns__setup:focus {
  background: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}

.portfolio-works {
  display: flex;
  margin-left: 215px;
  margin-bottom: 94px;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-works__items {
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;
  background: #FFFFFF;
}
/* .portfolio-works__items:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-works__items:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */
.portfolio-works__items__border {
  padding: 20px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.portfolio-works__items:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
} 
.portfolio-works__items>div>h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-works__items>div>p {
  margin: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ------------------ MODAL WINDOW ------------------ */

.modal-bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  display: flex;  
  top: 0;  
  z-index: 2;
}

.modal-windov {
  
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.modal-button {
  position: fixed;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  display: flex;
  align-items: center;
  padding: 0 40px;
  
}

.modal-bg-hiden {
  visibility:hidden;
  opacity: 0;
  pointer-events: none;
}

/* ------------------ /MODAL WINDOW ------------------ */